/**
 * 단체 프로그램 관리 페이지 전용 스타일
 * 라우팅: /backoffice/group-programs
 */

/* 섹션 스타일 (등록/수정 페이지용) */
.program-section {
    margin-bottom: 30px;
}

.section-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
    padding-bottom: 10px;
    border-bottom: 2px solid #3490dc;
}

/* 교육비 원 단위 표시 (등록/수정 페이지용) */
.board-form-col-6 > input[type="number"] + span {
    display: inline-block;
    margin-left: 10px;
    line-height: 38px;
    color: #495057;
    font-size: 14px;
}

.board-input-readonly {
    background-color: #f1f3f5;
    color: #6c757d;
    cursor: not-allowed;
}
